html {
  overflow-y: hidden;
}

body {
  margin: 0;
}

.banner {
  background: teal;
  height: 150px;
  padding-bottom: 0;
  margin: 0;
  font-size: 2em;
}

#time, #greet, #date {
  width: calc(100% / 3);
  font-size: 1.25em;
  padding: 0;
}

#time {
  float: left;
  margin-left: 50;
}

#greet {
  display: inline-block;
  text-align: center;
  width: auto;
  margin-left: 100;
}

#date {
  float: right;
  text-align: right;
  margin-right: 50;
}

#weatherIcon {
  margin: 0;
}

#listHeader1 {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .75em;
}

#column1 {
  margin: 0;
}

.weatherItem {
  margin-top: 50;
}

.newsHeadline {
  font-size: .35em;
  margin: 5;
}

.column_head {
  text-align: center;
}

.column_list {
  padding-left: 10%;
  font-size: 2em;
}

.tile1, .tile2, .tile3 {
  font-size: 1.5em;
  width: calc(100% / 3);
  height: 100%;
}

.tile1 {
  background: grey;
  float: left;
}

.tile2 {
  /*background-image: url('pictures/newspaper.jpg');*/
  background-color: tan;
  display: inline-block;
}

.tile3 {
  background: grey;
  float: right;
}

.calendar {
  margin: 20;
}

ul {
  list-style: none;
}
