.banner {
  background: teal;
  height: 150px;
  padding-bottom: 0px;
  margin: 0;
  font-size: 2em;
}
#time, #greet, #date {
  width: calc(100% / 3);
  font-size: 1.25em;
  padding: 0;
}
#time {
  float:left;
}
#greet {
  display: inline-block;
  text-align: center;
}
#date {
  float: right;
  text-align: right;
}
.column_head {
  text-align: center;
}
.column_list {
  padding-left: 10%;
  font-size: 2em;
}
.tile1, .tile2, .tile3 {
  font-size: 1.5em;
  width: calc(100% / 3);
  height: 100%;
}
.tile1 {
  background: grey;
  float: left;
}
.tile2 {
  background: tan;
  display: inline-block;
}
.tile3 {
  background: grey;
  float: right;
}
